// TODO: Importer ici les fichiers SCSS legacy copies dans src/styles/legacy.
// Exemple:
// @use './variables';
// @use './layout';
// @use './components';
//
// IMPORTANT:
// - Corriger toutes les images en `url('/legacy/images/...')`.
// - Eviter les imports relatifs qui pointent vers l'ancien projet.
